<ion-view title="Yourchance">
  <ion-content>
  <div class="container pod">
    <div class="row">
      <div class="col col-50">
        <img src="https://i.pinimg.com/originals/cf/75/0b/cf750ba160c4f1f8aef6f6c3df323541.gif" class="imag">
      </div>
      <div class="col col-50">   
        <p class="textname">Nombre del usuario</p>
        <p class="tname">José Gonzalo</p>
      </div>
    </div>
  </div>
  <div class="container spice">
    <div class="row">
      <div class="col col-20">
       <i class="fab fa-facebook-square"></i>
      </div>
      <div class="col col-30">
        <h5 class="text">Facebook</h5>
      </div>
    </div>
    <div class="row">
      <div class="col col-20">
        <i class="far fa-envelope"></i>
      </div>
      <div class="col col-30">
        <h5 class="text">Gmail</h5>
      </div>
    </div>
    <div class="row">
      <div class="col col-30">
        <h4 class="textHA">Habilidades:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col-90">
        <textarea></textarea>
      </div>
    </div>
  </div>
  <div class="container pot">
    <div class="row">
      <div class="col col-30">
        <h4 class="textTips">Tips:</h4>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <div class="w3-content" style="max-width:800px; display: flex; height: 150px;">
            <img class="mySlides" src="img/io.png" style="width:100%;">
            <img class="mySlides" src="img/io2.png" style="width:100%;">
            <img class="mySlides" src="img/io3.jpg" style="width:100%;">
            <img class="mySlides" src="img/io4.jpg" style="width: 100%;">
          </div>

          <div class="w3-center">
            <div class="w3-section">
              <button class="w3-button w3-light-grey" onclick="plusDivs(-1)">❮ Prev</button>
              <button class="w3-button w3-light-grey" onclick="plusDivs(1)">Next ❯</button>
            </div>  
            <button class="w3-button demo" onclick="currentDiv(1)">1</button> 
            <button class="w3-button demo" onclick="currentDiv(2)">2</button> 
            <button class="w3-button demo" onclick="currentDiv(3)">3</button>
            <button class="w3-button demo" onclick="currentDiv(4)">4</button> 
          </div>
      </div>
    </div>
  </div>  
  </ion-content>
</ion-view>
